<script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
{% include base.html %}
<!-- <script src="{{base}}/javascripts/imagesloaded.pkgd.min.js"></script> -->
<script src="{{base}}/javascripts/slick.min.js"></script>
<script src="{{base}}/javascripts/masonry.pkgd.js"></script>
<script src="{{base}}/javascripts/jquery.validate.js"></script>
<script src="{{base}}/javascripts/jquery.sequence-min.js"></script>
<script src="{{base}}/javascripts/jquery.easing.1.3.js"></script>
<script src="{{base}}/javascripts/jquery.countTo.js"></script>
<script src="{{base}}/javascripts/jquery.appear.js"></script>

<script src="{{base}}/doc/assets/js/documentation.js"></script>
<script src="{{base}}/javascripts/libs.js.bundle"></script>
<script>
  // terrificjs bootstrap
  (function($) {
      $(document).ready(function() {
          var $page = $('body');
          var config = {
            dependencyPath: {
              plugin: 'javascripts/'
            }
          }
          var application = new Tc.Application($page, config);
          application.registerModules();
          application.start();
      });
  })(Tc.$);
</script>
<div class='contain-to-grid fullwidth alt'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='index.html'>
            <strong>Henri</strong> Halle
          </a>
        </h1>
      </li>

      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
      <li class='toggle-topbar menu-social-icon'>
        <a href='https://www.instagram.com/henndogg22.com' target='_blank'>
          <i class='fa fa-instagram'></i>
        </a>
      </li>
    </ul>
    <section class='top-bar-section'>
      <ul class='right'>
        {% for item in site.data.nav %}
          {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}

          {% if item.children %}
            <li class="has-dropdown {{active_class}}">
              <a href="{{ item.path }}">{{ item.name }}</a>
              <ul class='dropdown'>
                {% for child in item.children %}
                  <li>
                    <a href="{{base}}/{{ child.path }}">{{ child.name }}</a>
                    <!-- <a href="{{site.url}}/{{ child.path }}">{{ child.name }}</a> -->
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="{{active_class}}">
              <a href="{{ item.path }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li>
          <a href='https://instagram.com/henndogg22' target='_blank'>
            <i class='fa fa-instagram'></i>
          </a>
        </li>
      </ul>
    </section>
  </nav>
</div>
